@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC Angular 2 Project with<br /> Health Care Domain -- PromptRx</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://www.youtube.com/watch?v=HB6ftmxKzL8&list=PLWLZ_apLEW9DYd-7zct0P9Sia7nx--kN3" class="btn btn-primary btn-lg">Learn more About PromptRx</a></p>
</div>

<div class="row">

   <my-app>Loading</my-app>





    <br /><br />
    <h1>Other Videos</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/HB6ftmxKzL8" frameborder="0" allowfullscreen></iframe><br />
    <iframe width="560" height="315" src="https://www.youtube.com/embed/N4AN0gNY5sg" frameborder="0" allowfullscreen></iframe>
</div>