@{
    ViewBag.Title = "Movies";
}

<div class="jumbotron">
    <h2>Angular 2 Components, ngModules and communication between Components</h2>
    <my-app>Loading</my-app>
</div>

<div class="row">
    <my-movies>Loading....</my-movies>
</div>